@import url("fonts.css");

:root {
    --transition-time: 0.4s;
    --paper-color: rgb(242, 240, 238);
    --post-color: rgb(238, 230, 223);
    --body-font: 'Simplicity';
    --highlighter1: rgba(193, 186, 255, 0.5);
    --highlighter2: rgba(239, 176, 255, 0.5);
    --highlighter3: rgba(199, 255, 192, 0.5);
    --highlighter4: rgba(255, 212, 94, 0.5);
    --highlighter5: rgba(255, 243, 74, 0.5);
    --highlighter6: rgba(255, 243, 74, 0.5);
    --text-color: black;
    --post-outline-style: none;
    --post-outline-color: white;
    --post-outline-width: 0.02rem;
}

html {
    font-size: 5.3476vw;
}

[data-theme="dark"] {
    --paper-color: #222;
    --post-color: rgba(0,0,0,0);
    --text-color: #bbb;
    --highlighter1: rgba(0,0,0,0);
    --highlighter2: rgba(0,0,0,0);
    --highlighter3: rgba(0,0,0,0);
    --highlighter4: rgba(0,0,0,0);
    --highlighter5: rgba(0,0,0,0);
    --highlighter6: rgba(128, 128, 128, 0.5);
    --post-outline-style: dashed;
    --post-outline-color: #bbb;
    --post-outline-width: 0.02rem;
    color-scheme: dark;
}

::selection {
    background-color: var(--highlighter6);
}

body {
    transition: var(--transition-time);
    margin: 0.32rem 0.64rem;
    font-family: var(--body-font);
    background-color: var(--paper-color);
    font-weight:600;
    color: var(--text-color);
    font-size: 0.2rem;
}

figcaption{
    color: var(--text-color);
}

h1 {
    font-family: 'AutumnInNovember';
    margin-bottom: 0.1rem;
    font-weight: normal;
    font-size: 0.3rem;
}
h2 {
    text-transform: uppercase;
    font-size: var(--header-font-size, 0.4rem);
    margin-top: 0;
    margin-bottom: 0.05rem;
    font-weight: normal;
    font-family: 'DearSunshine';
    width:fit-content;
    padding: 0 0.16rem;
}
.sh {
    font-size: 0.24rem;
    font-style: italic;
    color: gray;
    font-family: var(--body-font);
}
#logo {
    font-size: 0.24rem;
    font-family: 'VarelaRound';
    font-weight: bold;
    margin-top: 0.3rem;
}

#header-container {
    width: 100%;
    height: 1.28rem;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#content-container {
    width: 100%;
    min-height: calc(100vh - 2.24rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-container {
    padding: 0 0 0.32rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: none;
    max-width: 100%;
    flex: 1 0;
    align-items: center;
    justify-content: center;
}

#footer-container {
    width: 100%;
    height: 0.16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flower-box {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flower-icon {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.3;
}

.app {
    background-color: var(--post-color);
    height: calc(2.7rem + 0.2rem);
    width: 3.1rem;
    padding: 0.3rem;
    transition: var(--transition-time);
    margin: 0.15rem;
    align-self: flex-start;
    outline-style: var(--post-outline-style);
    outline-color: var(--post-outline-color);
    outline-width: var(--post-outline-width);
}
.app:hover {
    box-shadow: 0.05rem 0.05rem 0.2rem rgba(0,0,0,0.3);
}

.app-double {
    background-color: var(--post-color);
    height: calc(2.7rem + 0.2rem);
    width: calc(3.1rem*2 + 0.9rem);
    padding: 0.3rem;
    transition: var(--transition-time);
    margin: 0.15rem;
    align-self: flex-start;
    outline-style: var(--post-outline-style);
    outline-color: var(--post-outline-color);
    outline-width: var(--post-outline-width);
}
.app-double:hover {
    box-shadow: 0.05rem 0.05rem 0.2rem rgba(0,0,0,0.3);
}

textarea {
    background-color: rgba(0,0,0,0);
    border-style: none;
    font-family: var(--body-font);
    color: var(--text-color);
    resize: none;
    scrollbar-width: thin;
}

textarea:focus {
    outline: none;
}

#app-container textarea, #app-container p {
    font-size: var(--body-font-size, 0.2rem);
}
#app-container figcaption {
    font-size: calc(var(--body-font-size, 0.2rem) * 0.75);
}

a {
    text-decoration: none;
    color: sienna;
    transition: var(--transition-time);
}

a:hover {
    opacity: 0.5;
}

#quicklinks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.link-icon {
    margin: 0 0.3rem;
    text-align: center;
    transition: var(--transition-time);
    opacity: 1;
    cursor: pointer;
    color: black;
}
.link-icon:hover {
    transform: scale(1.1);
    opacity: 1;
}

.navigator {
    font-size: 0.7rem;
    opacity: 0.1;
    cursor: pointer;
    transition: var(--transition-time);
}
.navigator:hover {
    opacity: 0.3;
}

[data-theme="dark"] .drawn-icon {
    filter: drop-shadow(1px 0 0 gray)    drop-shadow(-1px 0 0 gray)    drop-shadow(0 1px 0 gray)    drop-shadow(0 -1px 0 gray);
}