.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin: 0 0.3rem;
}

.theme-switch {
    display: inline-block;
    height: 0.2rem;
    position: relative;
    width: 0.4rem;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #999;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--transition-time);
}

.slider:before {
    background-color: #ddd;
    bottom: 0.05rem;
    content: "";
    height: 0.1rem;
    left: 0.05rem;
    position: absolute;
    transition: .4s;
    width: 0.1rem;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(0.2rem);
}

.slider.round {
    border-radius: 0.34rem;
}

.slider.round:before {
    border-radius: 50%;
}