@font-face {
    font-family: 'VarelaRound';
    src: url('assets/fonts/varelaround.ttf');
}
@font-face {
    font-family: 'OctoberTwilight';
    src: url('assets/fonts/octobertwilight.ttf');
}
@font-face {
    font-family: 'AutumnInNovember';
    src: url('assets/fonts/autumninnovember.ttf');
}
@font-face {
    font-family: 'AffectionatelyYours';
    src: url('assets/fonts/affectionatelyyours.ttf');
}
@font-face {
    font-family: 'CassetteTapes';
    src: url('assets/fonts/CassetteTapes.ttf');
}
@font-face {
    font-family: 'GentleTouch';
    src: url('assets/fonts/gentletouch.ttf');
}
@font-face {
    font-family: 'LittleSunshine';
    src: url('assets/fonts/littlesunshine.ttf');
}
@font-face {
    font-family: 'SweetPurple';
    src: url('assets/fonts/sweet\ purple.ttf');
}
@font-face {
    font-family: 'DearSunshine';
    src: url('assets/fonts/Dear\ Sunshine.ttf');
}
@font-face {
    font-family: 'Simplicity';
    src: url('assets/fonts/simplicity.ttf');
}
@font-face {
    font-family: 'JessicaElaine';
    src: url('assets/fonts/Jessica\ Elaine.ttf');
}
@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('assets/fonts/ArchitectsDaughter.ttf');
}
@font-face {
    font-family: 'AngelicaRose';
    src: url('assets/fonts/AnjelikaRose-oRGd.ttf');
}